version: '3.8'

services:
  database:
    image: postgres:16
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: rustapp
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "127.0.0.1:3001:3001"
    environment:
      DATABASE_URL: "postgres://username:password@localhost/rustapp"
    depends_on:
      - database

volumes:
  postgres-data:
